/* body{
    background-color: black;
    color: white;
}
h4{
    color:red;
    font-size: 20px;
}
#malzemeler{
    color: rgba(11, 11, 94, 0.884);
}
.oneriler{
    color: rgb(216, 20, 216);
}
a[href^="#"]{
color: gold;
} */
body{
    background-color:rgb(255, 255, 255);
    color: black;
}
header{
   width: 50%;
}
h1{
    border: 3px solid red;
    width: 50%;
}
p{
    color: rgb(255,0,0);
}